body{
background-color: white;
font-size: 16px;
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  color: #627382;
}

.container{
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation{

}
.header-wrapper{
padding: 16px 0;
display: flex;
align-items: center;
justify-content: space-between;


}
.logo-block{
  width: 100%;
  max-width: 139px;
}
.manu-block{

}
.manu-block ul{
display: flex;
align-items: center;
justify-content: space-between;
gap: 32px;


}
.manu-block ul li{
    padding: 0%;
    margin: 0%;
    list-style:none;
    

}
.manu-block ul li a{
   text-decoration:none;
   line-height: 1.52;
font-size: 16px;
color: #000;
transition:.3s;
}
.manu-block ul li a:hover{
   color:#30B868;
}
.header-button-block{
 
}
.btn {
    padding: 12px 16px;
    background-color: #469165;
    color: #fff;
    line-height: 1;
    border-radius: 4px;
    transition: .3s;
    border: 0;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.btn:hover{
    background-color: #000;
}
.hero-section{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.hero-content-wrapper{
    min-height:674px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 770PX;
    margin: 0 auto;
}

.container{

}
.hero-intro-text{
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 100px;
    color:#469165 ;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;



}
.hero-intro-icon{
 margin-right: 8px;

}
.theme-color{
    color: #30B868;

}
.hero-summary{
    color: #FFFFFF;
    font-size: 18px;
    padding: 16px 16px;
    

}
.hero-button-group{
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-button-block{
    display: flex;


}
.hero-btn-1{
background-color: #469165;
color: #fff;
font-size: 25px;
padding: 16px 12px;
border-radius: 10px;
gap:16px;
flex-direction:row ;




}
.button-icon{
    width: 20px;
    height: 20px;
    
}
.hero-btn-2{
    padding: 16px 16px;
    
    box-sizing: content-box;
    
     color: #fff;
    background:none;
    font-size: 16px;
    
    

}
.button-icon{

}
.hero-section h1{
font-size: 72px;
line-height: 84px;
color: #fff;
margin: 0;
}
.hero-btn-1:hover{
    background-color: #30B868;
}
.hero-btn-2:hover{
    background-color: #30B868;
}

#skills{
    padding: 116px;
}
.skills-container{

}
.section-heading{
    margin: 0 auto;

}
.section-heading h2 {
    font-size: 48px;
    color: #001931;
    line-height: 1;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 16px;
}
.section-heading p {
    margin: 0;
    color:#627382 ;
}
.section-heading{
   margin-bottom: 0;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skill-box{
    display: flex;
    gap: 24px;
    margin-top: 44px;
}
.skill-box .skill-card{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
padding: 70px 24px;
display: flex;
flex-direction: column;
text-align: center;
    
}
.skill-box .skill-card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #001931;
}
.skill-box .skill-card p{
    margin: 0;
}
.skill-icon-block{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F95555;
    border-radius: 50%;
    margin: auto;
}

.solution-section .section-heading {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 40px;
}
.solution-section .section-heading p {
    max-width: 75%;
}

.solution-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.solution-image-block {
    width: 100%;
    max-width: 600px;
}
.solution-content-block {
    width: 100%;
    max-width: 700px;
}

span.section-subtitle
 {
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.solution-list-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.solution-text{
    font-weight: 500;
    line-height: 1.25;
    color: #001931;
    margin: 0;
}

.single-solution-list {
    display: flex;
    gap: 7px;
    align-items: center;
}
img.solution-list-icon {
    width: 16px;
    height: 16px;
}

a{
    text-decoration: none;
}

.cta-wrqpper {
    padding: 80px 40px;
    background: #F7F6F2;
    border-radius: 12px;
}

.cta-content-block .section-heading p {
    margin: auto;
    max-width: 50%;
    margin-bottom: 24px;
}

p.sunnary-text{
    width: 100%;
    margin-top: 16px !important;
}
.cta-section {
    padding: 120px 0;
}


footer.footer-section {
    padding-top: 120px;
    padding-bottom: 30px;
    background: #001931;
}

.footer-top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-top-content p {
    margin-top: 0;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.footer-social-icon-block
 {
    display: flex;
    gap: 16px;
}

p.copyright-text {
    margin: 0;
    text-align: center;
    color: #FAFAFA;
}

.footer-bottom-block {
    padding-top: 40px;
    border-top: 1px solid #E5E7EB;
}